.date {
  margin: 0px 0 16px 0;
  font-size: 10px;
  color: var(--color-product-300);
}
.description {
  font-size: 12px;
  line-height: 18px;
  flex: 1 1 auto;
  overflow: hidden;
  margin-bottom: 16px;
}
.button {
  background: #4256e7;
  border-radius: 99px;
  padding: 9px 27px;
  font-size: 12px;
  font-weight: 400;
  color: white;
}
