.switcher {
  position: relative;
  margin: 15px 0;
  .button {
    transition: height 200ms linear;
    border-bottom-color: var(--color-brand-200) !important;
    &.active {
      height: 55px;
      & .caret {
        transform: rotate(0);
      }
    }
  }
}

.item {
  height: 50px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 16px;
  cursor: pointer;
  position: relative;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--color-brand-300);
  background: transparent;
  font-size: 13px;
  font-family: Inter, sans-serif;
  & .caret {
    fill: var(--color-brand-800) !important;
    width: 24px;
    height: 24px;
    fill: #000;
    transform: rotate(-90deg);
    transition: transform 200ms ease-in-out;
  }
  &:hover {
    background: #e8ebfc;
    text-decoration: none;
    color: var(--color-brand);
  }
  &:last-child {
    border-bottom: 1px solid var(--color-brand-300);
  }
}

.items {
  background-color: white;
  border-radius: 9px;
  border: 1px solid var(--color-brand-300);
}
.item {
  text-decoration: none;
  width: 100%;
  transition: background 100ms;
  @apply text-gray-1000;
  border-bottom: 1px solid var(--color-brand-300);
  &:hover {
    background: #e8ebfc;
  }
  &:last-child {
    border-bottom: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  &:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
}
.dropdown {
  visibility: hidden;
  transition:
    opacity 100ms ease-in-out,
    visibility 100ms ease-in-out;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  opacity: 0;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  z-index: 1000;
  &.secondary {
    top: calc(100% - 6px);
  }
  & .item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  &.open {
    opacity: 1;
    visibility: visible;
  }
}

/* Dark theme */

[data-theme="dark"] {
  & .switcher {
    & .button {
      border-bottom-color: var(--color-brand-800) !important;
      & .caret {
        fill: #fff !important;
      }
    }
    & .items {
      border-color: var(--color-brand-800);
      & .item {
        background-color: var(--color-brand-1400);
        border-color: var(--color-brand-800);
        color: #fff;
        &:hover {
          background-color: var(--color-brand-1300);
        }
      }
    }
  }
}
