# More generic rules first, then more specific ones overwriting previous ones.

/platform-enterprise_docs/enterprise/helm.md                      @justinegeffen @llewellyn-sl @seqeralabs/devops
/platform-enterprise_docs/enterprise/kubernetes.md                @justinegeffen @llewellyn-sl @seqeralabs/devops
/platform-enterprise_versioned_docs/*/enterprise/helm.md          @justinegeffen @llewellyn-sl @seqeralabs/devops
/platform-enterprise_versioned_docs/*/enterprise/kubernetes.md    @justinegeffen @llewellyn-sl @seqeralabs/devops
