[submodule "wave_docs/wave_repo"]
	path = wave_docs/wave_repo
	url = https://github.com/seqeralabs/wave
[submodule "multiqc_docs/multiqc_repo"]
	path = multiqc_docs/multiqc_repo
	url = https://github.com/MultiQC/MultiQC
