[[edge_functions]]
  function = "og-generate.png"
  path = "/og-generate.png"

[build.environment]
  NODE_VERSION = "22"
  NODE_OPTIONS = "--max_old_space_size=8192"

[context.deploy-preview.build.environment]
  INCLUDE_NEXT="true"

# Seqera API docs are too large to host / build on netlify on their own.
# The appropriate ENVVAR is set to disable the API Builds on Netlify for the main docs site.
[[redirects]]
  from = "/platform-api/*"
  to = "https://seqera-docs-api.netlify.app/platform-api/:splat"
  status = 200


# Redirect missing assets (so that we don't lose CSS on the API docs)
# NB: Force is not true, so will use local if available
[[redirects]]
  from = "/assets/*"
  to = "https://seqera-docs-api.netlify.app/assets/:splat"
  status = 200


[[plugins]]
  package = "netlify-plugin-cache"
  [plugins.inputs]
    paths = [
      "node_modules/.cache",
      ".docusaurus"
    ]
