.navLink {
  color: var(--color-brand);
  font-size: 0.9rem;
  position: relative;
  display: inline-block;
  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 3px;
    background-color: var(--color-blu);
    opacity: 0;
  }
  &:hover {
    text-decoration: none;
  }
}
.isActive {
  /* color: #000; */
  color: var(--color-blu);
  &::after {
    animation: underlineFadeIn 0.3s ease forwards;
    animation-delay: 0.1s;
  }
}
@keyframes underlineFadeIn {
  to {
    opacity: 1;
  }
}
