.description {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.3;
  text-wrap: balance;
  color: var(--color-brand-800);
  &.dark {
    color: var(--color-brand-100);
  }
}
.label {
  margin-top: 10px;
  padding: 6px 12px;
  font-size: 11px;
  line-height: 16.5px;
  font-weight: 600;
  border-radius: 99px;
  background: var(--color-brand-900);
  color: white;
  display: inline-block;
  &.nextflow {
    background: var(--color-nextflow-200);
    color: var(--color-brand);
  }
  &.fusion {
    background: var(--color-fusion-200);
    color: var(--color-brand);
  }
  &.multiqc {
    background: var(--color-multiqc-200);
    color: var(--color-brand);
  }
  &.wave {
    background: var(--color-wave-200);
    color: var(--color-brand);
  }
}
.links {
  list-style: none;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  & li {
    padding: 1px 0;
    & a {
      display: inline-flex;
      align-items: center;
      padding: 5px 8px;
      font-size: 14px;
      border-radius: 6px;
      transition: all 0.3s;
      color: inherit;
      & svg {
        margin-right: 8px;
      }
      &:hover,
      &.active {
        text-decoration: none;
        background: var(--color-brand-200);
      }
    }
  }
  &.dark {
    & li a {
      &:hover,
      &.active {
        background: var(--color-brand-1000);
      }
    }
  }
}
.github {
  line-height: 0;
  display: block;
  position: absolute;
  bottom: 16px;
  right: 16px;
  color: var(--color-brand-400);
}
.button {
  border: 1px solid white;
  background: white;
  color: var(--color-brand);
  border-radius: 99px;
  padding: 5px 14px;
  font-size: 13px;
  font-weight: 600;
  line-height: 1;
  transition: all 0.3s;
  &:hover {
    background: white;
    border-color: white;
    color: var(--color-brand);
  }
}
