.container {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 1em;
}

.tag {
  border-radius: 8px;
  border: 1px solid var(--color-brand-400);
  padding: 0.1em 0.5em;
  text-transform: capitalize;
  background-color: var(--color-brand-200);
  & a {
    color: var(--color-brand-900);
  }
}
.fusion {
  background-color: var(--color-fusion-100);
  & a {
    color: var(--color-fusion-800);
  }
}
.multiqc {
  background-color: var(--color-multiqc-100);
  & a {
    color: var(--color-multiqc-800);
  }
}
.wave {
  background-color: var(--color-wave-100);
  & a {
    color: var(--color-wave-800);
  }
}
[data-theme="dark"] {
  .tag {
    border: 1px solid var(--color-brand-700);
    background-color: var(--color-brand-1000);
    & a {
      color: var(--color-brand-300);
    }
  }
  .fusion {
    & a {
      color: var(--color-fusion-400);
    }
  }
  .multiqc {
    & a {
      color: var(--color-multiqc-200);
    }
  }
  .wave {
    & a {
      color: var(--color-wave-200);
    }
  }
}
