.theme-code-block pre,
.theme-code-block .thin-scrollbar,
pre[class*="prism-code"] {
    overflow-x: auto !important;
    white-space: pre !important;
    max-width: 100% !important;
    word-wrap: normal;
}
