:root {
  --headerHeight: 114px;
}

html[data-theme="dark"] {
  .header {
    background: #F1F1F1;
  }
}


html[data-theme="dark"] {
  .header {
    background: #1C1C1E;
    border-bottom: 1px solid var(--color-gray-800);
  }
  .footer a {
    color: #F1F1F1;
  }
}


.header {
  z-index: 999;
  position: fixed;
  /* height: var(--headerHeight); */
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.2s;
  border-bottom: 1px solid var(--color-gray-200);
  
  &.minimal,
  &.staticPosition {
    position: absolute;
    background: transparent;
  }
  &.hasScrolled {
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);
  }
}
