.card {
  display: block;
  padding: 20px;
  border-radius: 16px;
  background: white;
  border-color: var(--ifm-toc-border-color);
  font-size: 14px;
  color: #160f26 ;
  transition: all 0.3s;
}
.card:hover {
  text-decoration: none;
  /* transform: scale(1.01); */
  box-shadow: 0 0 15px rgba(84, 188, 159);
}
.card.nextflow:hover {
  box-shadow: 0 0 15px rgba(84, 188, 159);
}
.card.wave:hover {
  box-shadow: 0 0 15px rgba(90, 147, 248);
}
.card.fusion:hover {
  box-shadow: 0 0 15px rgba(232, 114, 103);
}
.card.multiqc:hover {
  box-shadow: 0 0 15px rgba(226, 134, 80);
}
.card.platform:hover {
  box-shadow: 0 0 15px #110C1C;
}
.card.platform svg {
  height: 25px;
  width: auto;
  max-width: 100%;
}
html[data-theme="dark"] {
  & .card {
    background: rgba(0, 0, 0, 0.5);
    color: var(--color-brand-300) ;
    & svg path[fill="#160F26"] {
      fill: var(--color-brand-200) ;
    }
  }
  & .card.platform:hover {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
  }
}
