@media (min-width: 997px) {
  .blogWrapper {
    display: flex;
    width: 100%;
  }
}

.blogMain {
  flex-grow: 1;
  flex-wrap: nowrap;
  max-width: 100%;
  @media (min-width: 997px) {
    max-width: calc(100% - var(--doc-sidebar-width));
  }
}

.toc {
  display: none;
  @media (min-width: 997px) {
    display: flex;
  }
}

@media (min-width: 997px) {
  .blogBody {
    display: flex;
    flex-wrap: nowrap;
  }
  .blogContent {
    max-width: 75% ;
  }
}
