strong {
  font-weight: 600;
}

.mdx-typeset h1 {
  font-weight: 600;
  color: #000;
  margin-bottom: 24px;
}

.mdx-typeset h2 {
  border-bottom: 1px solid #d8dee4;
  font-size: 20px;
  font-weight: 600;
  color: #000;
  padding-bottom: 0.3em;
}

.mdx-typeset p {
  font-size: 16px;
  line-height: 24px;
  margin: 16px 0;
}

.mdx-typeset li {
  font-size: 16px;
  line-height: 24px;
}

.mdx-typeset img {
  border: 2px solid #d0d7de;
  border-radius: 5px;
  vertical-align: top;
}

.mdx-nav__title {
  color: #676767;
  font-size: 16px;
  font-weight: 600;
}

.mdx-nav__link {
  font-size: 16px;
  margin-top: 15px;
}

.mdx-nav__item .mdx-nav__link--active {
  font-weight: 600;
}

.mdx-header__topic {
  font-weight: 600;
}

.mdx-search,
.mdx-search__input {
  font-weight: 300;
}

.mdx-typeset .admonition-title,
.mdx-typeset summary {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  font-size: 16px;
  font-weight: 600;
}
