.nav {
  @media (min-width: 1024px) {
    display: flex;
  }
  padding-left: 16px;
  display: none;
  align-items: center;
  margin: 0 -2px;
}
.navItem {
  position: relative;
  margin: 0 2px;
  /* padding: 0 12px; */
  padding: 8px 9px;
  /* height: 40px; */
  transition: all 0.2s;
  color: var(--color-brand);
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.17px;
  text-decoration: none;
  outline: none;
  display: inline-flex;
  align-items: center;
  border-radius: 6px;
  border: none;
  background-color: transparent;
  font-family: inherit;
  & .chevron {
    margin-left: 10px;
    fill: var(--color-brand);
    transition: all 0.2s;
  }
  & .pill {
    display: inline-block;
    padding: 3px 8px;
    margin: 4px;
    background: #e6e5e8;
    border: 1px solid var(--color-brand);
    border-radius: 12px;
    font-size: 10px;
    line-height: 0.8;
    color: var(--color-brand-1100);
  }

  &:hover,
  &.active {
    background-color: var(--color-brand-200);
    color: var(--color-brand);
    text-decoration: none;
  }
  &.active {
    & .chevron {
      transform: rotate(180deg);
    }
  }
}
.nav.dark {
  & .navItem {
    color: white;
    &:hover::after {
      background-color: white;
    }
  }
}

.navList {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;

  a {
    color: var(--color-brand);
    font-size: .9rem;
  }
}