.nav {
  @media (min-width: 1024px) {
    display: flex;
  }
  padding-left: 16px;
  display: none;
  align-items: center;
  margin: 0 -2px;
}
.navItem {
  position: relative;
  margin: 0 2px;
  padding: 0 12px;
  height: 40px;
  transition: all 0.2s;
  color: var(--color-brand);
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.17px;
  text-decoration: none;
  outline: none;
  display: inline-flex;
  align-items: center;
  border-radius: 6px;
  border: none;
  background-color: transparent;
  font-family: inherit;
  & .chevron {
    margin-left: 10px;
    fill: var(--color-brand);
    transition: all 0.2s;
  }
  &:hover,
  &.active {
    background-color: var(--color-brand-200);
    color: var(--color-brand);
    text-decoration: none;
  }
  &.active {
    & .chevron {
      transform: rotate(180deg);
    }
  }
}
.nav.dark {
  & .navItem {
    color: white;
    &:hover::after {
      background-color: white;
    }
  }
}

@media (max-width: 1023px) {
  & .logo {
    width: 114px;
    margin-top: 2px;
  }
}
