.button {
  padding: 0.6rem 1.5rem;
  font-weight: 400;
  background-color: none;
}
html[data-theme="dark"] .button {
  background: none;
  svg {
    filter: invert(100%);
  }
}
.caretRotate {
    transform: rotate(180deg);
}
.panels {
  & > div {
    width: 100%;
    transition: all 0.5s;
  }
  &.panel1Active > div {
    transform: translateX(0%);
  }
  &.panel2Active > div {
    transform: translateX(-100%);
  }
  &.panel3Active > div {
    transform: translateX(-200%);
  }
}
