.admonition {
  margin-bottom: 1em;
  display: flex;
}

.admonitionIcon {
  flex: none;
  vertical-align: middle;
  margin-right: 0.8em;
  line-height: 0;
}

.admonitionIcon svg {
  display: inline-block;
  height: 1.6em;
  width: 1.6em;
  fill: var(--ifm-alert-foreground-color);
}

.admonitionContent {
  flex: 1 1 auto;
  overflow-x: auto;
}

.admonitionContent > :last-child {
  margin-bottom: 0;
}
