@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ifm-navbar-height: 5rem;
  --ifm-color-secondary-contrast-background: #f7f7f7;
}

@layer components {
  .container-xl {
    @apply mx-auto;
    max-width: 1440px;
  }

  .container-lg {
    @apply mx-auto;
    max-width: 1248px;
  }

  .container-md {
    @apply mx-auto;
    max-width: 1008px;
  }

  .container-sm {
    @apply mx-auto;
    max-width: 900px;
  }

  .typo-display,
  .typo-display span {
    @apply font-display font-semibold text-2xl md:text-4xl lg:text-6xl antialiased;
  }

  .typo-hero {
    @apply font-display font-semibold text-5xl lg:text-6xl antialiased;
  }

  .typo-h1 {
    @apply font-display font-semibold text-2xl md:text-4xl lg:text-5xl antialiased;
  }

  .typo-h2 {
    @apply font-display font-semibold text-2xl md:text-3xl lg:text-4xl antialiased;
  }

  .typo-h3 {
    @apply font-display font-semibold text-2xl md:text-3xl antialiased;
  }

  .typo-h4 {
    @apply font-display font-semibold text-xl md:text-2xl antialiased;
  }

  .typo-h5 {
    @apply font-display text-base font-semibold antialiased tracking-wide;
  }

  .typo-h6 {
    @apply font-display text-lg font-semibold antialiased;
  }

  .typo-blockquote {
    @apply font-body text-xl antialiased;
  }

  .typo-intro {
    @apply font-body text-base font-semibold antialiased;
  }

  .typo-body {
    @apply text-base font-light antialiased;
    font-weight: 400;
  }

  .typo-small {
    @apply font-body text-sm antialiased;
    font-weight: 400;
  }
}

svg.excalidraw {
  @apply h-full max-w-full;
}
[data-theme="dark"] svg.excalidraw {
  /* Not sure why dark:hue-rotate-180 dark:invert doesn't work */
  filter: invert(1) hue-rotate(180deg);
}
svg.excalidraw path[fill="#fff"] {
  @apply fill-transparent;
}

.navbar {
  align-items: center;
  ul,
  li {
    list-style-type: none;
    margin-inline-start: 0;
    padding: 0;
  }
}
.navbar-sidebar__items {
  /* overflow-y: scroll; */
  /* height: 100%; */
}
/* Hide the top navbar on desktop */
@media (min-width: 996px) {
  .navbar {
    height: 0;
    width: 0;
    display: none;
  }
}

/* Custom styling for the Algolia search box */
[data-theme="light"] .DocSearch {
  --docsearch-searchbox-background: var(--ifm-color-white);
}
[data-theme="dark"] .DocSearch {
  --docsearch-searchbox-background: var(--ifm-color-black);
}
.DocSearch-Button {
  width: 100%;
}
[data-theme="light"] .DocSearch-Button {
  box-shadow: inset 0 0 0 1px #d0cfd4;
}
[data-theme="dark"] .DocSearch-Button {
  box-shadow: inset 0 0 0 1px var(--color-brand-800);
}

/* Custom styling for sidebar nav links */
.theme-doc-sidebar-container > div {
  top: 74px;
}
nav.menu .menu__list .menu__link {
  border-radius: 5px;
  font-weight: 400;
  font-size: 0.9rem;
}
.theme-doc-sidebar-menu .menu__link {
  font-weight: 400;
}
nav.menu .menu__list .menu__link--active:not(.menu__link--sublist) {
  font-weight: 700;
}
nav.menu .menu__list .menu__link--sublist-caret:after,
.menu__caret:before {
  background-image: url("data:image/svg+xml,%3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.4943 10.4038L7.7174 15.1615L7.16162 14.6057L12.4943 9.29225L17.8078 14.6057L17.252 15.1615L12.4943 10.4038Z' fill='%23160F26'/%3E%3C/svg%3E%0A");
  transform: rotate(0deg);
}
.menu__caret:hover {
  background: rgba(0,0,0,.1);
}
nav.menu .menu__list-item--collapsed .menu__link--sublist:after,
.menu__list-item--collapsed .menu__caret:before {
  transform: rotate(90deg);
}
[data-theme="light"] nav.menu .menu__list {
  & .menu__link {
    color: #000;
  }
  & .menu__link--active:not(.menu__link--sublist) {
    background: #e8ebfc;
    color: #4256e7;
  }
}
[data-theme="dark"] nav.menu .menu__list {
  & .menu__link {
    color: rgba(255, 255, 255, 0.9);
  }
  & .menu__link--active:not(.menu__link--sublist) {
    background: rgba(0, 0, 0, 0.2);
    color: #98a3ff;
  }
}

/* Allow Code Block Expansion */
.theme-code-block pre {
  max-height: none;
  height: auto;
  overflow-y: visible;
}

.theme-code-block code {
  max-height: none;
  height: auto;
  overflow-y: visible;
}

/* mobile nav updates */
.navbar__toggle {
  position: absolute;
  right: 0rem;
}

.navbar-sidebar {
  width: 100vw;
}

.navbar-sidebar {
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: var(
    --ifm-navbar-background-color
  ); /* Use your site's navbar color */
  position: fixed;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* When sidebar is open (controlled by Docusaurus via class on <html>) */
.navbar-sidebar--show > .navbar-sidebar {
  width: 100%;
  height: 100vh; /* Expand height */
  visibility: visible;
  opacity: 1;
  overflow-y: scroll;
}

.footer--light {
  background-color: #fff; /* your custom light background color */
  color: #160f26;
}

.footer__logo {
  margin-top: 0;
}
.breadcrumbs {
  display: inline-block;
  margin-top: 0;
}
.breadcrumbs__link {
  padding: 0;
}

.breadcrumbs__link a {
}

.breadcrumbs__item--active .breadcrumbs__link {
  color: var(--color-brand);
  background: none;
}
.breadcrumbs__link svg {
  padding-top: 4px;
  margin-bottom: -1px;
}

.table-of-contents {
  margin-top: 0;
}
.table-of-contents__link:hover,
.table-of-contents__link:hover code,
.table-of-contents__link--active,
.table-of-contents__link--active code {
  color: var(--color-blu);
}

.tags {
  &:hover {
    border: 1px solid var(--color-blu);
  }
}

.theme-edit-this-page {
  display: flex;
  flex-direction: row;
  align-items: center;

  svg {
    width: 15px;
  }
}

ul {
  padding-left: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  list-style-type: disc;
  list-style-position: outside;
}

li {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

ol {
  padding-left: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  list-style-type: decimal;
  list-style-position: outside;
}

ol li {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.table-of-contents__link--active {
  font-weight: 500;
}

.admonition-icon {
  width: 10px;
  svg {
    width: 10px;
  }
}
.theme-admonition {
  div {
    &:first-child {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
  svg {
    &:first-child {
      width: 13px;
    }
  }
}

/* Mobile nav */
html[data-theme="dark"] {
  .menu__list-item-collapsible:hover {
    background: var(--color-gray-900);
  }

  .menu__link:hover {
    background: var(--color-gray-900);
  }

  nav.menu .menu__list .menu__link--active:not(.menu__link--sublist) {
    background: var(--color-blu-700);
    color: var(--color-blu-100);
  }
}

.table-of-contents__link {
  &:hover {
    color: var(--color-brand-1000);
    opacity: 1;
  }
}

details.details {
  border-color: var(--color-blu);
}

.details {
  border-color: var(--color-blu);
}

.main-wrapper {
  .container {
    margin-top: 0rem;
    @media (min-width: 996px) {
      margin-top: 2rem;
    }
  }
}

table {
  --ifm-table-background: rgba(255,255,255,.1);
  thead {
    background: var(--color-gray-200);
    tr {
      border-bottom: none;
    }
  }
}

html[data-theme="dark"]{
  --ifm-table-background: rgba(0,0,0,.7);
  table {
    thead {
      background: rgba(0,0,0,.3);
    }
    tr:nth-child(1n) {
      background: transparent;
    }
    tr:nth-child(2n) {
      background: rgba(0,0,0,.2);
    }
  }
}
