@tailwind components;
@tailwind utilities;

@layer components {
  .container-xl {
    @apply mx-auto;
    max-width: 1440px;
  }

  .container-lg {
    @apply mx-auto;
    max-width: 1248px;
  }

  .container-md {
    @apply mx-auto;
    max-width: 1008px;
  }

  .container-sm {
    @apply mx-auto;
    max-width: 900px;
  }

  .typo-display,
  .typo-display span {
    @apply font-display font-semibold text-2xl md:text-4xl lg:text-6xl antialiased;
  }

  .typo-hero {
    @apply font-display font-semibold text-5xl lg:text-6xl antialiased;
  }

  .typo-h1 {
    @apply font-display font-semibold text-2xl md:text-4xl lg:text-5xl antialiased;
  }

  .typo-h2 {
    @apply font-display font-semibold text-2xl md:text-3xl lg:text-4xl antialiased;
  }

  .typo-h3 {
    @apply font-display font-semibold text-2xl md:text-3xl antialiased;
  }

  .typo-h4 {
    @apply font-display font-semibold text-xl md:text-2xl antialiased;
  }

  .typo-h5 {
    @apply font-display text-base font-semibold antialiased tracking-wide;
  }

  .typo-h6 {
    @apply font-display text-lg font-semibold antialiased;
  }

  .typo-blockquote {
    @apply font-body text-xl antialiased;
  }

  .typo-intro {
    @apply font-body text-base font-semibold antialiased;
  }

  .typo-body {
    @apply text-base font-light antialiased;
    font-weight: 400;
  }

  .typo-small {
    @apply font-body text-sm antialiased;
    font-weight: 400;
  }
}

svg.excalidraw {
  @apply h-full max-w-full;
}
[data-theme="dark"] svg.excalidraw {
  /* Not sure why dark:hue-rotate-180 dark:invert doesn't work */
  filter: invert(1) hue-rotate(180deg);
}
svg.excalidraw path[fill="#fff"] {
  @apply fill-transparent;
}

/* Hide the top navbar on desktop */
@media (min-width: 996px) {
  .navbar {
    height: 0;
    width: 0;
    display: none ;
  }
}

/* Custom styling for the Algolia search box */
[data-theme="light"] .DocSearch {
  --docsearch-searchbox-background: var(--ifm-color-white);
}
[data-theme="dark"] .DocSearch {
  --docsearch-searchbox-background: var(--ifm-color-black);
}
.DocSearch-Button {
  width: 100%;
}
[data-theme="light"] .DocSearch-Button {
  box-shadow: inset 0 0 0 1px #d0cfd4;
}
[data-theme="dark"] .DocSearch-Button {
  box-shadow: inset 0 0 0 1px var(--color-brand-800);
}

/* Custom styling for sidebar nav links */
.theme-doc-sidebar-container > div {
  top: 74px;
}
nav.menu .menu__list .menu__link {
  border-radius: 5px;
  font-weight: 400;
  font-size: 0.9rem;
}
nav.menu .menu__list .menu__link--active:not(.menu__link--sublist) {
  font-weight: 700;
}
nav.menu .menu__list .menu__link--sublist-caret:after,
.menu__caret:before {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="4 4 16 16"><path d="M11.8152 13.1989L10.0167 11.1432C9.80447 10.9013 9.97697 10.5214 10.2991 10.5214H13.8961C13.9682 10.5214 14.0388 10.5421 14.0994 10.5811C14.16 10.6201 14.2081 10.6758 14.2379 10.7414C14.2677 10.8071 14.2779 10.8799 14.2674 10.9512C14.2569 11.0226 14.226 11.0893 14.1785 11.1435L12.38 13.1985C12.3448 13.2388 12.3014 13.2711 12.2527 13.2932C12.204 13.3153 12.1511 13.3268 12.0976 13.3268C12.0441 13.3268 11.9912 13.3153 11.9425 13.2932C11.8938 13.2711 11.8504 13.2388 11.8152 13.1985V13.1989Z" /></svg>')
    50% / 24px 24px;
  transform: rotate(0deg);
}
nav.menu .menu__list-item--collapsed .menu__link--sublist:after,
.menu__list-item--collapsed .menu__caret:before {
  transform: rotate(-90deg);
}
[data-theme="light"] nav.menu .menu__list {
  & .menu__link {
    color: #000;
  }
  & .menu__link--active:not(.menu__link--sublist) {
    background: #e8ebfc;
    color: #4256e7;
  }
}
[data-theme="dark"] nav.menu .menu__list {
  & .menu__link {
    color: rgba(255, 255, 255, 0.9);
  }
  & .menu__link--active:not(.menu__link--sublist) {
    background: rgba(0, 0, 0, 0.2);
    color: #98a3ff;
  }
}

/* Allow Code Block Expansion */
.theme-code-block pre {
  max-height: none ;
  height: auto ;
  overflow-y: visible ;
}

.theme-code-block code {
  max-height: none ;
  height: auto ;
  overflow-y: visible ;
}
