/* Hide version dropdown on Wave docs */
html:not(.plugin-id-platform) .navbar .dropdown {
  display: none;
}

/* Center katex math */
.katex-display,
.katex-display > .katex {
  text-align: left;
}
/* Adjust font size for certain equations */
.katex .vlist .mord {
  font-size: 0.9em;
}

/**
 * Product theming 
 */

/* Platform */
html.plugin-id-platform {
  & nav.navbar .navbar__items {
    & a[href="/platform"]:after {
      background: var(--color-product-600);
    }
  }
  & nav.menu .menu__list {
    & .menu__link--active {
      background: var(--color-product-600);
    }
  }
}

/* Wave */
html.plugin-id-wave {
  & nav.navbar .navbar__items {
    & a[href="/wave"]:after {
      background: var(--color-wave);
    }
  }
  & nav.menu .menu__list {
    & .menu__link--active {
      background: var(--color-wave);
    }
  }
}

/* Fusion */
html.plugin-id-fusion {
  & nav.navbar .navbar__items {
    & a[href="/fusion"]:after {
      background: var(--color-fusion);
    }
  }
  & nav.menu .menu__list {
    & .menu__link--active {
      background: var(--color-fusion);
    }
  }
}
