/* Hide version dropdown on Wave docs */
html:not(.plugin-id-platform) .navbar .dropdown {
  display: none;
}

/* Center katex math */
.katex-display,
.katex-display > .katex {
  text-align: left;
}
/* Adjust font size for certain equations */
.katex .vlist .mord {
  font-size: 0.9em;
}

ol li > p:first-child {
  margin-top: 0 ;
}
ol li > p:last-child {
  margin-bottom: 0 ;
}

/**
Material Design Icons (SVG)
*/
.mdi-icon {
  vertical-align: middle;
  margin: -4px;
}

/* Inject theme-specific styling for <details> elements */
[data-theme='light'] {
  --details-bg: #fff;
  --details-code-bg: rgb(246, 247, 248);
}

[data-theme='dark'] {
  --details-bg: rgb(25, 60, 71);
  --details-code-bg: var(--ifm-code-background);
}

details {
  background-color: var(--details-bg) ;
  border-top-width: 0 ;
  border-bottom-width: 0 ;
  border-right-width: 0 ;
  border-left-width: 5px ;
}

details.alert > div > div {
  border-top: 1px solid #000 ;
}

details.alert code {
  /* var(--ifm-code-background) */
  background-color: var(--details-code-bg);
}
