/* Hide version dropdown on Wave docs */
html:not(.plugin-id-platform) .navbar .dropdown {
  display: none;
}

/* Center katex math */
.katex-display,
.katex-display > .katex {
  text-align: left;
}
/* Adjust font size for certain equations */
.katex .vlist .mord {
  font-size: 0.9em;
}

/**
 * Product theming
 */

/* Platform */
html.plugin-id-platform {
  & nav.navbar .navbar__items {
    & a[href="/platform"]:after {
      background: var(--color-product-600);
    }
  }
  & nav.menu .menu__list {
    & .menu__link--active {
      background: var(--color-product-600);
    }
  }
}

/* Nextflow */
html.plugin-id-nextflow {
  & nav.navbar .navbar__items {
    & a[href="/nextflow"]:after {
      background: var(--color-nextflow);
    }
  }
  & nav.menu .menu__list {
    & .menu__link--active {
      background: var(--color-nextflow);
    }
  }
}

/* MultiQC */
html.plugin-id-multiqc {
  & nav.navbar .navbar__items {
    & a[href="/multiqc"]:after {
      background: var(--color-multiqc);
    }
  }
  & nav.menu .menu__list {
    & .menu__link--active {
      background: var(--color-multiqc);
    }
  }
}

/* Wave */
html.plugin-id-wave {
  & nav.navbar .navbar__items {
    & a[href="/wave"]:after {
      background: var(--color-wave);
    }
  }
  & nav.menu .menu__list {
    & .menu__link--active {
      background: var(--color-wave);
    }
  }
}

/* Fusion */
html.plugin-id-fusion {
  & nav.navbar .navbar__items {
    & a[href="/fusion"]:after {
      background: var(--color-fusion);
    }
  }
  & nav.menu .menu__list {
    & .menu__link--active {
      background: var(--color-fusion);
    }
  }
}

/**
Material Design Icons (SVG)
*/
.mdi-icon {
  vertical-align: middle;
  margin: -4px;
}

/* Inject theme-specific styling for <details> elements */
[data-theme='light'] {
  --details-bg: #fff;
  --details-code-bg: rgb(246, 247, 248);
}

[data-theme='dark'] {
  --details-bg: rgb(25, 60, 71);
  --details-code-bg: var(--ifm-code-background);
}

details {
  background-color: var(--details-bg) !important;
  border-top-width: 0 !important;
  border-bottom-width: 0 !important;
  border-right-width: 0 !important;
  border-left-width: 5px !important;
}

details.alert > div > div {
  border-top: 1px solid #000 !important;
}

details.alert code {
  /* var(--ifm-code-background) */
  background-color: var(--details-code-bg);
}
