h1, h2, h3, h4, h5, h6 {
  font-family: 'Degular', sans-serif;
}
.markdown > h1,
h1 {
  font-size: 2.5rem;
  font-weight: 600;
  /* margin-top: 2rem; */
  margin-bottom: 1rem;
  line-height: 1.1;
  @media (min-width: 996px) {
    font-size: 3.2rem;
  }
}

.markdown > h2,
h2 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1;
  margin-top: 2rem;
  margin-bottom: 1rem;
  @media (min-width: 996px) {
    font-size: 2.5rem;
  }
}

.markdown > h3,
h3 {
  font-size: 1.75rem;
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 1rem;
  line-height: 1.2;
  @media (min-width: 996px) {
    font-size: 1.8rem;
  }
}

.markdown > h4,
h4 {
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 1.5rem;
  margin-bottom: .45rem;
  @media (min-width: 996px) {
    font-size: 1.5rem;
  }
}

h5 {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 0.5rem 0;
  @media (min-width: 996px) {
    font-size: 1.2rem;
  }
}

h6 {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0.25rem 0;
}

body {
  font-family: 'Inter', 'Helvetica', sans-serif;
}


strong {
  font-weight: 600;
}
.markdown > p,
p {
  margin-bottom: 1.25rem;
  line-height: 1.7;
  @media (min-width: 996px) {
    line-height: 1.6;
  }
}

ol > li {
  margin-bottom: 1rem;
  line-height: 1.6;
}

h1,h2,h3,h4,h5,h6 {
  pre, code {
    font-size: 80%;
  }
}