h1, h2, h3, h4, h5, h6 {
  font-family: 'Degular', sans-serif;
}
h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin: .5rem 0;
  line-height: 1.1;
  @media (min-width: 996px) {
    font-size: 3rem;
  }
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  margin: 1.25rem 0;
  @media (min-width: 996px) {
    font-size: 2.5rem;
  }
}

h3 {
  font-size: 1.75rem;
  font-weight: 600;
  margin: 1rem 0;
  @media (min-width: 996px) {
    font-size: 2.1rem;
  }
}

h4 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0.75rem 0;
  @media (min-width: 996px) {
    font-size: 1.8rem;
  }
}

h5 {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 0.5rem 0;
  @media (min-width: 996px) {
    font-size: 1.5rem;
  }
}

h6 {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0.25rem 0;
}

body {
  font-family: 'Inter', 'Helvetica', sans-serif;
}


strong {
  font-weight: 600;
}

p {
  margin-bottom: 1.25rem;
}