.hero {
  background: #eee;
  border-bottom: 1px solid #ccc;
  padding: 40px;
}

a {
  color: var(--color-blu);
  &:hover {
    color: var(--color-blu-700);
    /* text-decoration: none; */
  }
  &:active {
    color: var(--color-blu-800);
  }
  &:disabled {
    color: var(--color-blu-400);
  }
}

pre,
code {
  max-height: 300px;
}

.page {
  /* background-image: url("./images/home-1a.jpg");
  background-size: cover; */
}
html[data-theme="light"] {
  & .page {
    /* background-image: url("./images/home-1a-light.jpg"); */
  }
}

.sidebarProductLogos a {
  @apply flex justify-between items-center my-4 border-solid border border-gray-500 rounded px-4 py-3 bg-white hover:bg-[#e8ebfc] w-full leading-none;
}
.sidebarContainer {
  flex: none;
  background: rgba(0, 0, 0, 0.02);
}
