.hero {
  background: #eee;
  border-bottom: 1px solid #ccc;
  padding: 40px;
}

a {
  color: var(--color-blu);
  &:hover {
    color: var(--color-blu-700);
    /* text-decoration: none; */
  }
  &:active {
    color: var(--color-blu-800);
  }
  &:disabled {
    color: var(--color-blu-400);
  }
}

pre,
code {
  max-height: 300px;
  font-size: 90%;
}

.page {
  /* background-image: url("./images/home-1a.jpg");
  background-size: cover; */
}
html[data-theme="light"] {
  & .page {
    /* background-image: url("./images/home-1a-light.jpg"); */
  }
}

.sidebarProductLogos a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-style: solid;
  border-width: 1px;
  border-color: var(--color-gray-500);
  border-radius: 0.25rem;
  padding: 0.75rem 1rem;
  background-color: white;
  width: 100%;
  line-height: 1;
  
  &:hover {
    background-color: #e8ebfc;
  }
}
.sidebarContainer {
  flex: none;
  background: rgba(0, 0, 0, 0.02);
}

html[data-theme="dark"] a {
    color: white;
}

