
.page ul {
  list-style: none;
  padding-left: 0;
}

.page p.typo-h4 {
  margin-top: 0;
}

a {
  color: var(--color-blu);
  &:hover {
    color: var(--color-blu-700);
    /* text-decoration: none; */
  }
  &:active {
    color: var(--color-blu-800);
  }
  &:disabled {
    color: var(--color-blu-400);
  }
}

pre,
code {
  max-height: 300px;
  font-size: 90%;
}

.page {
  /* background-image: url("./images/home-1a.jpg");
  background-size: cover; */
}
html[data-theme="light"] {
  & .page {
    /* background-image: url("./images/home-1a-light.jpg"); */
  }
}


html[data-theme="dark"] a {
    color: white;
}

