.searchContainer {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.searchContainer :global(.aa-Input) {
  padding: 16px;
  font-size: 15px;
  border: 1px solid var(--color-brand-300);
  border-radius: 8px;
  background: var(--color-brand-100);
  width: 100%;
}

.searchContainer :global(.aa-Input:focus) {
  outline: none;
  border-color: var(--color-product);
}

.searchContainer :global(.aa-Panel) {
  border: 1px solid var(--color-brand-300);
  border-radius: 8px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
}

:global(.aa-Item) {
  margin-bottom: 6px;
}

.searchContainer :global(.aa-Item) {
  padding: 8px 16px;
}

.searchContainer :global(.aa-ItemTitle) {
  font-weight: 500;
  margin-bottom: 4px;
}

.searchContainer :global(.aa-ItemDescription) {
  font-size: 14px;
  color: var(--color-brand-600);
}

.searchWrapper {
  background: rgba(0,0,0,.4);

  h5 {
    color: var(--color-gray-1000);
  }
}
html[data-theme="dark"] .searchWrapper { 
  background: rgba(0,0,0,.5);
  h5 {
    color: white;
  }
  /* border-color: #DDDEDE; */
}
.searchModal {
  background: white;
  /* border-color: var(--color-blu-500); */
}
html[data-theme="dark"] .searchModal { 
  background: #464646;
  border-color: #DDDEDE;
}
.searchBar {
  background: white;
  color: var(--text-gray-800);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  height: 40px;
  &:hover {
    color: var(--text-gray-1000);
  }
}

html[data-theme="dark"] .searchBar  {
  /* background: #464646; */
  background: #1C1C1E;
  box-shadow: 0 0 0 1px var(--color-gray-800);
  color: var(--text-gray-800);
  &:hover {
    color: var(--text-gray-1000);
  }
}

.productItemCta {
  background: var(--color-product-100);
  color: var(--color-product-1000);
}

.productItemVersion {
  background: var(--color-gray-100);
  color: var(--color-slate-1000);
}

.productWave {
  background: var(--color-wave-100);
  color: var(--color-wave-1000);
}

.productMultiQC {
  background: var(--color-multiqc-100);
  color: var(--color-multiqc-1000);
}

.productFusion {
  background: var(--color-multiqc-100);
  color: var(--color-multiqc-10000);
}

.productNextflow {
  background: var(--color-nextflow-100);
  color: var(--color-nextflow-10000);
}

html[data-theme="dark"] {
  .productItemCta {
    background: var(--color-blu-900);
    color: var(--color-brand-100);
  }
  
  .productItemVersion {
    background: var(--color-gray-900);
    color: var(--color-slate-100);
  }
  
  .productWave {
    background: var(--color-wave-900);
    color: var(--color-wave-100);
  }
  .productMultiQC {
    background: var(--color-multiqc-900);
    color: var(--color-multiqc-1000);
  }
  .productFusion {
    background: var(--color-multiqc-900);
    color: var(--color-multiqc-100);
  }
  .productNextflow {
    background: var(--color-nextflow-900);
    color: var(--color-nextflow-100);
  }
}