.blogPostPageTitle {
  font-size: 3rem;
}
.listTitle {
  font-size: 2rem;
}
.blogTitleLink {
  color: var(--text-color);
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

/**
  Blog post title should be smaller on smaller devices
**/
@media (max-width: 576px) {
  .title {
    font-size: 2rem;
  }
}
