.button {
  display: flex;
  align-items: center;
  height: 40px;
  font-weight: 500;
  border-radius: 8px;
  color: var(--color-brand);
  font-size: .9375rem;
  background: white;
  line-height: 1;
  padding: 0 13px;
  text-align: center;
  white-space: nowrap;
  border: 1px solid var(--color-brand-400);
  position: relative;
  &:hover {
    text-decoration: none;
    color: white;
    background: var(--color-brand);
    border: 1px solid var(--color-brand);
  }
  &.secondary {
    border-color: var(--color-blu);
    background: var(--color-blu);
    color: white;
    transition: all 0.2s;
    &:hover {
      background-color: var(--color-brand);
      border-color: var(--color-brand);
    }
    &.altStyle {
      background-color: rgba(16, 23, 59, 0.8);
    }
  }
}


html[data-theme="dark"] .button {
    background: var(--color-gray-400);
    border-color: var(--color-gray-400);
    color: var(--color-brand-1000);
    &:hover {
      background-color: var(--color-blu-800);
      border-color: var(--color-blu-800);
      color: #F1F1F1;;
    }
    &.secondary {
      border-color: var(--color-blu);
      background: var(--color-blu);
      color: #F1F1F1;;
      &:hover {
        background-color: var(--color-blu-800);
        border-color: var(--color-blu-800);
        color: #F1F1F1;;
      }
      &.altStyle {
        background-color: rgba(16, 23, 59, 0.8);
      }
    }
}