.button {
  display: flex;
  align-items: center;
  height: 40px;
  font-weight: 500;
  border-radius: 8px;
  color: var(--color-brand);
  font-size: .9375rem;
  line-height: 1;
  padding: 0 13px;
  text-align: center;
  white-space: nowrap;
  border: 1px solid var(--color-brand-400);
  position: relative;
  &:hover {
    text-decoration: none;
    color: white;
    background: var(--color-brand);
    border: 1px solid var(--color-brand);
  }
  &.secondary {
    border-color: var(--color-blu);
    background: var(--color-blu);
    color: white;
    transition: all 0.2s;
    &:hover {
      background-color: var(--color-brand);
      border-color: var(--color-brand);
    }
    &.altStyle {
      background-color: rgba(16, 23, 59, 0.8);
    }
  }

  &.darkMode {
    border: 1px solid white;
    &:hover {
      background: var(--color-blu);
      border: 1px solid var(--color-blu);
    }
    &.secondary {
      &:hover {
        border-color: white;
        background: white;
        color: black;
      }
    }
  }
}
