.panels {
  display: flex;
  margin: -5px;
  position: absolute;
  inset: 0;
}
.panel {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: calc(20% - 10px);
  width: 0;
  min-height: 260px;
  border-radius: 10px;
  padding: 24px;
  background-color: var(--color-brand-100);
  margin: 5px;
  line-height: 1.4 !important;
  @media (min-width: 1250px) {
    padding: 25px 30px;
  }
  &.large {
    flex-grow: 1;
  }
  &.highlighted {
    background-color: var(--color-brand);
    color: white;
    & ul {
      & li {
        & a {
          color: #fff;
        }
      }
    }
    & .subtitle {
      color: var(--color-product-300);
      opacity: 1;
    }
  }
  & .subtitle {
    margin-top: 10px;
    font-size: 12px;
    line-height: 1.5;
    font-weight: 300;
  }
  & h3 {
    font-size: 18px;
    font-weight: 600;
    font-family: Degular, sans-serif;
    margin: -0.1em 0 0 0;
    color: var(--ifm-font-color-base);
    line-height: 1 !important;
  }
  & .panelTitle {
    line-height: 0;
  }
  & ul {
    padding: 0;
    margin-top: 18px;
    margin-bottom: 0;
    flex: 1 1 auto;
    list-style: none;
    & li {
      line-height: 1.5 !important;
      & a {
        font-size: 14px;
        font-weight: 600;
        display: inline-flex;
        align-items: center;
        transition: all 0.2s;
        color: var(--ifm-navbar-link-color);
        &:hover {
          color: #703377;
          text-decoration: none;
        }
        &:hover svg {
          transform: translate(5px, 1px);
        }
        & svg {
          margin-left: 8px;
          transition: all 0.2s;
          transform: translateY(1px);
        }
      }
    }
  }
  &.highlighted ul li a:hover {
    color: #c7a0cc;
  }
}

.panels.products .panel {
  & .subtitle {
    min-height: 54px;
  }
}

.panelFooter {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  margin: -3px;
  & a {
    & svg {
      transition: all 0.2s;
      color: #cfd0d1;
    }
    &:hover svg {
      color: #b0b0b0;
    }
  }
}

.eventPanel {
  align-items: flex-start;
  background-image: url("./event-panel-bg.svg");
  background-color: var(--color-brand) !important;
  background-size: cover;
  & h3 {
    color: white;
    margin-bottom: 2px;
  }
  & .date {
    margin: 6px 0 16px 0;
    font-size: 10px;
    color: var(--color-product-300);
  }
  & .description {
    font-size: 12px;
    line-height: 14px;
    line-height: 1.5;
    flex: 1 1 auto;
    overflow: hidden;
    margin-bottom: 15px;
  }
  & .button {
    background: var(--color-blue);
    color: white;
    font-size: 12px;
    padding: 8px 13px;
    &:hover {
      background: white;
      border-color: white;
    }
  }
}

html[data-theme="dark"] {
  & .panel {
    background-color: rgba(255, 255, 255, 0.05);
    & ul li a:hover {
      color: var(--color-wave);
    }
    &.highlighted {
      background-color: var(--color-brand-200);
      color: var(--color-brand);
      & .subtitle {
        color: var(--color-brand);
        opacity: 0.8;
      }
      & ul li a {
        color: var(--color-brand);
      }
      & .panelTitle {
        & svg {
          & path[fill="#fff"] {
            fill: var(--color-brand) !important;
          }
        }
      }
    }
    &:not(.highlighted) .panelTitle {
      & svg {
        & path[fill="#160F26"] {
          fill: white !important;
        }
      }
    }
  }
  & .panelFooter {
    & .cta {
      background-color: var(--color-brand) !important;
    }
  }
}
