[data-theme="dark"] .themeLight,
[data-theme="light"] .themeDark {
  display: none;
}

.item {
  max-width: 178px;
  display: flex;
  align-items: center;
  flex: none;
  & svg {
    width: 100%;
    height: 14px;
  }
  &.lg {
    & svg {
      height: 16px;
      position: relative;
      top: -1px;
    }
  }
}
