[data-theme="dark"] .themeLight,
[data-theme="light"] .themeDark {
  display: none;
}

.item {
  max-width: 178px;
  display: flex;
  align-items: center;
  & svg {
    width: 100%;
    height: 21px;
  }
}
