name: Links

# https://github.com/lycheeverse/lychee-action

on:
  repository_dispatch:
  workflow_dispatch:
  # Run on Sunday only
  schedule:
    - cron: "00 18 * * 6"

jobs:
  linkChecker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 1

      - name: Remove TODO and README files from link checking
        run: find platform-enterprise_versioned_docs -type f \( -name 'README.mdx' -o -name '_todo.mdx' \) -exec rm {} +

      - name: Check external links in documentation
        id: lychee
        uses: lycheeverse/lychee-action@v2
        with:
          args: --base . -v -n -s https -s http './**/*.mdx'

      - name: Create GitHub issue for broken links
        if: env.lychee_exit_code != 0
        uses: peter-evans/create-issue-from-file@v5
        with:
          title: Link Checker Report
          content-filepath: ./lychee/out.md
          labels: report, automated issue
