name: "markdownlint-cli2"

# Disable automatic runs
on: [workflow_dispatch]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
               
      - uses: tj-actions/changed-files@v44
        id: changed-files
        with:
          files: '**/*.md'
          separator: ","
      - uses: DavidAnson/markdownlint-cli2-action@v16
        if: steps.changed-files.outputs.any_changed == 'true'
        with:
          globs: ${{ steps.changed-files.outputs.all_changed_files }}
          separator: ","
